<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAA8ZF1G1TzmzfJ7d_v2rKC4LGUxpweqbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>871123116806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cosmeto.cosmeto</string>
	<key>PROJECT_ID</key>
	<string>cosmeto-assig</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmeto-assig.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871123116806:ios:05a02a5f74a1745ff53487</string>
</dict>
</plist>